<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AdminMode</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/admin-layout.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #000 !important;">
        <div class="container" style="background-color: #000 !important;">
            <div class="navbar-header" style="background-color: #000 !important;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"  style="background-color: #000 !important;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
               
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if(User.IsInRole("Admin")) { 
    <div class="main col-lg-2" style="padding-left: 0!important;">
        <aside>
            <div class="sidebar left ">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Images/marknad.png" class="rounded-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Elmarknad Admin</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <ul class="list-sidebar bg-defoult">
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#dashboard" class="collapsed active"> <i class="fa fa-th-large"></i> <span class="nav-label"> Hantera Elbolag</span> <span class="fa fa-chevron-left pull-right"></span> </a>
                        <ul class="sub-menu collapse" id="dashboard">
                            <li class="active">@Html.ActionLink("Lägg till Elbolag", "AddCompany", "Admin")</li>
                            <li>@Html.ActionLink("Se Elbolag", "EditCompany", "Admin")</li>

                        </ul>
                    </li>
                    <li> <a href="~/Admin/Scrape"><i class="fa fa-diamond"></i> <span class="nav-label">Skrapning</span></a> </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#products" class="collapsed active"> <i class="fa fa-bar-chart-o"></i> <span class="nav-label">Hantera Elavtal</span> <span class="fa fa-chevron-left pull-right"></span> </a>
                        <ul class="sub-menu collapse" id="products">
                            <li> @Html.ActionLink("Lägg till Elavtal", "AddDeal", "Admin")</li>
                            <li>@Html.ActionLink("Se Elavtal", "DisplayDeals", "Admin")</li>
                        </ul>
                    </li>
                    <li> <a href="~/Account/Register"><i class="fa fa-laptop"></i> <span class="nav-label">Lägg till användare</span></a> </li>

                    <li>
                        <a href="#" data-toggle="collapse" data-target="#blog" class="collapsed active"><i class="fa fa-pencil"></i> <span class="nav-label">Hantera Blogg</span> <span class="fa fa-chevron-left pull-right"></span></a>
                        <ul class="sub-menu collapse" id="blog">
                            <li>@Html.ActionLink("Skriv Inlägg", "WritePost")</li>
                            <li>@Html.ActionLink("Redigera Inlägg", "ListBlogPosts")</li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" data-toggle="collapse" data-target="#tables" class="collapsed active"><i class="fa fa-table"></i> <span class="nav-label">Hantera Kunder</span><span class="fa fa-chevron-left pull-right"></span></a>
                        <ul class="sub-menu collapse" id="tables">
                            <li>@Html.ActionLink("Lägg till kund", "AddCustomer", "Admin")</li>
                            <li> @Html.ActionLink("Se Kunder", "ListCustomers", "Admin")</li>
                            <li> @Html.ActionLink("Se borttagna kunder", "ListDeletedCustomers", "Admin")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#statistic" class="collapsed active"><i class="fa fa-pie-chart"></i> <span class="nav-label">Statistik</span> <span class="fa fa-chevron-left pull-right"></span></a>
                        <ul class="sub-menu collapse" id="statistic">
                            <li>@Html.ActionLink("Dagens kunder", "TodaysDeals")</li>

                        </ul>
                    </li>


                    <li> <a href="~/Home/Index"><i class="fa fa-files-o"></i> <span class="nav-label">Jämför elpriser</span></a> </li>
                    <li> <a href="~/Home/Contact"><i class="fa fa-files-o"></i> <span class="nav-label">Kontakta oss</span></a> </li>
                    <li> <a href="~/Blog/"><i class="fa fa-files-o"></i> <span class="nav-label">Blogg</span></a> </li>
                    <li> <a href="~/Home/MoreInfo"><i class="fa fa-files-o"></i> <span class="nav-label">Så går det till</span></a> </li>
                    <li> <a href="~/CustomerSupport/Faq"><i class="fa fa-files-o"></i> <span class="nav-label">Faq</span></a> </li>
                    <li> <a href="~/CustomerSupport/Dictionary"><i class="fa fa-files-o"></i> <span class="nav-label">OrdLista</span></a> </li>
                    <li> <a href="~/CustomerSupport/Terms"><i class="fa fa-files-o"></i> <span class="nav-label">Vilkor</span></a> </li>
                    <li> <a href="~/Home/About"><i class="fa fa-files-o"></i> <span class="nav-label">Om Oss</span></a> </li>
                    <li> <a href="~/CustomerSupport/Career"><i class="fa fa-files-o"></i> <span class="nav-label">Karriär</span></a> </li>
                    <li> <a href="~/Home/Contact"><i class="fa fa-files-o"></i> <span class="nav-label">Kontakt</span></a> </li>
                    <li> <a href="~/Error"><i class="fa fa-files-o"></i> <span class="nav-label">Felsida</span></a> </li>
                    <li> <a href="~/Error/Error404"><i class="fa fa-files-o"></i> <span class="nav-label">Felsida 404</span></a> </li>
                    <li> <a href="~/Home/Thanks"><i class="fa fa-files-o"></i> <span class="nav-label">Tack för köpet</span></a> </li>
                </ul>
            </div>
        </aside>
    </div>
    }
    <div class="container body-content col-lg-10">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Admin ElMarknad</p>
        </footer>
    </div>
    <div class="modal fade" id="warning-cust" tabindex="-1" role="dialog" aria-labelledby="warning-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="warning-label">Varning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Är du säker att du vill radera?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Ångra</button>
                    <button type="button" class="btn btn-danger" id="remove-now">Ta Bort</button>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datepicker")

</body>
</html>