@model Elmarknad.Models.ViewModels.DisplayDealsViewModel
@{
    ViewBag.Title = "Visar avtal";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Alla avtal</h2>

<hr />
@foreach (var item in Model.Deals)
{

    <div class="row">
        <div class="col-lg-10" style="border: 2px double #edebe9; padding: 1%;">
            <h3>Elavtal <small>AvtalsID: @item.ClientId.ToString()</small></h3>
            <hr />
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">Automatisk förlängning: @item.Automatiskförlängning</li>
                    <li class="list-group-item">Avtal: @item.Contract</li>
                    <li class="list-group-item">Elbolag: @item.ElBolag.Name</li>
                    <li class="list-group-item">Elområde: @item.Elområde.Area</li>
                    <li class="list-group-item">Engångsavgift: @item.Engångsavgift kwH</li>
                    <li class="list-group-item">Information: @item.ExtraInfo</li>
                    <li class="list-group-item">Fastpris: @item.Fastpris kwH</li>
                    <li class="list-group-item">Elförbrukning: @item.Förbrukning</li>
                    <li class="list-group-item">Miljöpåslag: @item.Miljöpåslag kwH</li>
                    <li class="list-group-item">Moms: @item.Moms kwH</li>
                    <li class="list-group-item">Omteckningsrätt: @item.Omteckningsrätt</li>
                    <li class="list-group-item"><b>Totalt pris:</b> @item.Price</li>

                </ul>

            </div>
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">Rabatt: @item.Rabatt.ToString() kwH</li>
                    <li class="list-group-item">Betyg: @item.Rating</li>
                    <li class="list-group-item">Rörligt Inköpspris: @item.RörligtInköpsPris kwH</li>
                    <li class="list-group-item">Rörligt Miljöpåslag: @item.RörligtMiljöpåslag kwH</li>
                    <li class="list-group-item">Rörligt Påslag: @item.RörligtPåslag kwH</li>
                    <li class="list-group-item">Avtalstyp: @item.Typ</li>
                    <li class="list-group-item">Uppsägningstid: @item.Uppsägningstid dagar</li>
                    <li class="list-group-item">ÅrsAvgift: @item.ÅrsAvgift kwH</li>
                </ul>
                <btn class="btn btn-block btn-danger delete-post" id="@item.ClientId">Ta Bort</btn>
                @Html.ActionLink("Redigera", "EditDeal", new { id = item.ClientId }, htmlAttributes: new { @class = "btn btn-block btn-warning", @style="margin-top: 1%;" })
            </div>


        </div>

    </div>
    <!-- /.row -->

    <hr>

}




@section scripts{
    <script>
        $(".delete-post").on("click", function (e) {
            var id = e.target.getAttribute("id");
            var IsCorrect = confirm("Är du säker?");
            if (IsCorrect)
            $.ajax({
                url: "/api/company/deleteclient",
                type: "Post",
                data: JSON.stringify([id]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Avtalet har tagits bort från databasen.");
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel. Kontakta admin!")
                }
            })
        });
    </script>
}