@model Elmarknad.Models.ViewModels.AllElBolagViewModel

@{
    Layout = "_LayoutAdmin.cshtml"; ;
}
<h2>Visar alla Elbolag</h2>
<div class="col-md-12 center-block">
  

            @foreach (var item in Model.ElBolag)
            {
               
        <div class="row">
            <div class="col-lg-10" style="border: 2px double #edebe9; padding: 1%;">
                <h3>Elbolag <small>ElbolagsID: @item.ElBolagId.ToString()</small></h3>
                <hr />
                <div class="col-md-5">
                    <ul class="list-group">
                        <li class="list-group-item">
                            @if (item.Image != null)
                            {<img src="../@item.Image" style="" class="img-responsive" />}
                                            </li>
                        <li class="list-group-item">Namn: @item.Name</li>
                        <li class="list-group-item">Antal aktiva avtal: @item.ElAvtal.Count.ToString()st</li>
                        <li class="list-group-item">
                            @if (item.Phone != null)
                            {@item.Phone}
                        </li>
                    </ul>
                    

                </div>
                <div class="col-md-5">
                    <btn class="btn btn-block btn-danger delete-post" id="@item.ElBolagId">Ta Bort</btn>
                    @Html.ActionLink("Redigera", "ManageCompany", new { id = item.ElBolagId }, htmlAttributes: new { @class = "btn btn-block btn-default" })
                </div>


            </div>

        </div>
        <!-- /.row -->

        <hr>
    }

        

</div>
@section scripts{
    <script>
        $(".delete-post").on("click", function (e) {
            var id = e.target.getAttribute("id");
            
            $.ajax({
                url: "/api/company/delete",
                type: "Post",
                data: JSON.stringify([id]),
                contentType: "application/json; charset=utf-8",
                success: function () {

                    alert("Bolaget har tagits bort från databasen.");
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel. Kontrollera att inga avtal hör till bolaget")
                }
            })
        });
    </script>
}