@using Elmarknad.Models.ViewModels
@model List<ListCustomerViewModel>

@{
    ViewBag.Title = "Lista Kunder";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}

<h2>Lista Kunder</h2>
<ul class="list-group list-inline">
    <li class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span>@Html.ActionLink("Dagens kunder", "TodaysDeals")</li>
</ul>

@foreach (var item in Model)
{
    <!-- Project One -->
    <div class="row" >
        <div class="col-lg-10" style="border: 2px double #edebe9; padding: 1%;">
            <h3>Kundkort <small>Kundnummer: @item.CustomerId</small></h3>
            <hr />
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">Namn: @item.Firstname @item.Lastname</li>
                    <li class="list-group-item">Personnummer: @item.SocialSecurity</li>
                    <li class="list-group-item">Adress: @item.Address</li>
                    <li class="list-group-item">Epost: @item.Email</li>
                    <li class="list-group-item">Adress: @item.Address</li>
                    <li class="list-group-item">Postnummer: @item.Postnumber</li>
                    <li class="list-group-item">Stad: @item.City</li>
                    <li class="list-group-item">Tidpunkt vid signerande: @item.Timestamp</li>
                    <li class="list-group-item">Personnummer: @item.SocialSecurity</li>
                    <li class="list-group-item">Postnummer: @item.Postnumber</li>
                    <li class="list-group-item">Betalmetod: @item.Paymentmethod</li>
                    <li class="list-group-item">IP-adress: @item.IpAdress</li>
                    <li class="list-group-item">Postnummer: @item.Postnumber.ToString()</li>
                    @if (item.HasConfirmed)
                    {
                        <li class="list-group-item"><b>Kunden har godkänt våra avtal</b></li>
                    }
                    @if (item.LetUsGetInfo)
                    {
                        <li class="list-group-item"><b>Kunden har godkänt att vi inhämtar uppgifter</b></li>
                    }
                    else
                    {
                        <li class="list-group-item">OmrådesID: @item.AreaCode</li>
                        <li class="list-group-item">AnläggningsID: @item.PropertyCode</li>
                        <li class="list-group-item">Startdatum: @item.StartDate.ToString()</li>
                    }
                </ul>

            </div>
            <div class="col-md-5">

                @if (item.ClientDeal != null)
                {

                <ul class="list-group">
                    <li class="list-group-item active"><h5>Kunden har valt ett kampanjavtal</h5></li>
                    <li class="list-group-item">Elbolag: @item.ClientDeal.ElBolag.Name</li>
                    <li class="list-group-item">Elområde: @item.ClientDeal.Elområde.Area</li>
                    <li class="list-group-item">Pris: @item.ClientDeal.Price.ToString()</li>
                    <li class="list-group-item">Typ: @item.ClientDeal.Typ</li>
                    <li class="list-group-item">Kontrakt: @item.ClientDeal.Contract</li>
                    <li class="list-group-item">Förbrukning: @item.ClientDeal.Förbrukning</li>

                </ul>
                }
                else if (item.ScrapeDeal != null)
                {
                <ul class="list-group">
                    <li class="list-group-item list-group-item-warning"><h5>Kunden har valt ett skrapat avtal</h5></li>
                    <li class="list-group-item">Elbolag: @item.ScrapeDeal.Company</li>
                    <li class="list-group-item">Elområde: @item.ScrapeDeal.Elområde.Area</li>
                    <li class="list-group-item">Pris: @item.ScrapeDeal.Price.ToString()</li>
                    <li class="list-group-item">Typ: @item.ScrapeDeal.Typ</li>
                    <li class="list-group-item">Kontrakt @item.ScrapeDeal.Contract</li>
                    <li class="list-group-item">Förbrukning: @item.ScrapeDeal.Förbrukning</li>
                </ul>
                }
                <button class="btn btn-block btn-success remove-cust" id="@item.CustomerId">Bekräfta kund (Flyttas till bortagna kunder)</button>

            </div>

          
        </div>

        </div>
    <!-- /.row -->

    <hr>
}
@section scripts{
    <script>
        var targetValue;

        $(".remove-cust").on("click", function (e) {
            targetValue = e.target.getAttribute("id");
            $("#warning-cust").modal('show');

        });

        $("#remove-now").on("click", function () {
            $("#warning-cust").modal('hide');
            // alert(targetValue);
            $.ajax({
                url: "/api/customer/delete",
                type: "Post",
                data: JSON.stringify([targetValue]),
                contentType: "application/json; charset=utf-8",
                success: function () {
                    location.reload();
                },
                error: function () {
                    alert("Något har gått fel. Kontakta systemadmin!");
                }
            })
        })
    </script>

}