<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Elmarknad</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon"
          type="image/png"
          href="~/favicon.ico">
    <meta charset="UTF-8">
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'48bbbb36-df9a-47fc-9a69-f14505614dc1'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>

    <div class="navbar navbar-dark navbar-fixed-top" style="background-color: #1b5b82;">
        <div class="container" style="color: #fff; background-color: #1b5b82;">
            <div class="navbar-header" style="color: #fff; background-color: #1b5b82;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar" style="color: #fff !important; background-color: #fff !important;"></span>
                    <span class="icon-bar" style="color: #fff !important; background-color: #fff !important;"></span>
                    <span class="icon-bar" style="color: #fff !important; background-color: #fff !important;"></span>
                </button>
                <a href="~/Home/Index" class="img-responsive"><img src="~/Images/logo.png" class="img-responsive" style=" width: 30%; margin-top: 4%;" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home/Index" style="color: #fff !important; background-color: #1b5b82 !important;">Jämför Elpriser</a></li>
                    <li><a href="~/Home/MoreInfo" style="color: #fff !important; background-color: #1b5b82 !important;">Så går det till</a></li>
                    <li><a href="~/Home/About" style="color: #fff !important; background-color: #1b5b82 !important;">Om Oss</a></li>
                    <li><a href="~/Home/Contact" style="color: #fff !important; background-color: #1b5b82 !important;">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" id="extra-index">
        @RenderBody()
    </div>
    <section id="footer" style="margin-bottom: 0 !important;">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Våra tjänster</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="~/Home/Index"><i class="fa fa-angle-double-right"></i>Jämför Elpriser</a></li>
                        <li><a href="~/Home/MoreInfo"><i class="fa fa-angle-double-right"></i>Så går det till</a></li>
                        <li><a href="~/Blog/Index"><i class="fa fa-angle-double-right"></i>Blogg</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Kundservice</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="~/CustomerSupport/Faq"><i class="fa fa-angle-double-right"></i>Frågor och Svar</a></li>
                        <li><a href="~/CustomerSupport/Dictionary"><i class="fa fa-angle-double-right"></i>Ordlista</a></li>
                        <li><a href="~/CustomerSupport/Terms"><i class="fa fa-angle-double-right"></i>Vilkor</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Elmarknad.se</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a href="~/Home/About"><i class="fa fa-angle-double-right"></i>Om oss</a></li>
                        <li><a href="~/Home/Contact"><i class="fa fa-angle-double-right"></i>Kontakt</a></li>
                        <li><a href="~/CustomerSupport/Career"><i class="fa fa-angle-double-right"></i>Karriär</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" style="margin-bottom: 0 !important;">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white" style="margin-bottom: 0 !important;">
                    <p><u><p class="text-center" style="color: #fff;">Copyright &copy; 2017 Elmarknad.se</p></u></p>

                </div>

            </div>
        </div>
    </section>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/datepicker")
    @Scripts.Render("~/bundles/imagepicker")

</body>
</html>
