@model Elmarknad.Models.ViewModels.CustomerEmailViewModel

@{
    ViewBag.Title = "Kontakta oss";
}
@Html.Partial("HeaderLayout")

<link href="../Content/custom-contact.css" type="text/css" rel="stylesheet">

<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark" style="margin-top: 5%;margin-bottom: 5%;">
    <div class="container">
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="xbootstrap text-left"  style="color:#1b5b82; ">Kontakta oss.</h1>
            </div>
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                <p>Vi hjälper dig gärna om du har några frågor. Maila din fråga <br />till <a href="mailto:info@elmarknad.se">info@elmarknad.se</a> eller använd formuläret.</p>
                <div class="container demo-bg" style="margin-bottom: 2% !important;">
                    <div class="row" style="margin-bottom: 2% !important;">

                        <div class="col-sm-4">
                            <div class="business-hours">
                                <h2 class="title">Öppettider</h2>
                                <ul class="list-unstyled opening-hours">

                                    <li>Måndag <span class="pull-right">9:00-17:00</span></li>
                                    <li>Tisdag <span class="pull-right">9:00-17:00</span></li>
                                    <li>Onsdag <span class="pull-right">9:00-17:00</span></li>
                                    <li>Torsdag <span class="pull-right">9:00-17:00</span></li>
                                    <li>Fredag <span class="pull-right">9:00-17:00</span></li>
                                    <li>Lördag <span class="pull-right">Stängt</span></li>
                                    <li>Söndag <span class="pull-right">Stängt</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    <fieldset class="col-lg-8" style=" padding: 1%; margin-top: 14%;">
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        @if (ViewBag.successMessage != "")
                        {
                            <p class="text-success">@ViewBag.successMessage</p>
                        }
                        <div class="form-group label-floating " style="margin-top: 10% !important;">
                            <label class="control-label" for="name" style="color: #1b5b82 !important; font-size: 110%; font-weight: 600">Namn</label>
                            @Html.TextBoxFor(m => m.Sender, new { @class = "form-control", name = "name", id = "name" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- email -->
                        <div class="form-group label-floating">
                            <label class="control-label" for="email" style="color: #1b5b82 !important; font-size: 110%; font-weight: 600">Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", name = "email", id = "email" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Subject -->
                        <div class="form-group label-floating">
                            <label class="control-label" style="color: #1b5b82 !important; font-size: 110%; font-weight: 600">Ämne</label>
                            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", name = "subject", id = "msg_subject" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Message -->
                        <div class="form-group label-floating">
                            <label for="message" class="control-label" style="color: #1b5b82 !important; font-size: 110%; font-weight: 600">Meddelande</label>
                            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", name = "message", id = "message", rows = "3" })
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Form Submit -->
                        <div class="form-submit mt-5">
                            <button class="btn btn-block btn-primary" type="submit" id="form-submit" style="background-color: #1b5b82 !important;"><i class="material-icons mdi mdi-message-outline"></i> Skicka</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.opening-hours li').eq(new Date().getDay() - 1).addClass('today');
        });
    </script>
}