@model Elmarknad.Models.ViewModels.EnhancedSearchViewModel
@{
    ViewBag.Title = "Start";
}

@*<div class="multiselect">
        <div class="selectBox" onclick="showCheckboxes()">
            <select class="form-control">
                <option>Select an option</option>
            </select>
            <div class="overSelect"></div>
        </div>
        <div id="checkboxes">
            <label for="Test2">
                @Html.CheckBoxFor(i => i.Test2) Test
            </label>
            <label for="two">
                <input type="checkbox" id="two" />Second checkbox
            </label>
            <label for="three">
                <input type="checkbox" id="three" />Third checkbox
            </label>
        </div>
    </div>*@
<style>
    .custom {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .custom-bg {
        background-color: #316a87;
    }

    #extra-index {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }

    
   
</style>

<div class="container-fluid custom" id="first-page">
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 15%;margin-bottom: 10%;">
            <h3 class="text-center" style="color: #1b5b82;">Jämför elpriser och byt elavtal</h3>
            <hr />
            <small> Nam aliquet id erat nec viverra. Morbi sagittis volutpat tellus, vitae consectetur libero laoreet vitae. Vestibulum eget rhoncus nunc. In hac habitasse platea dictumst.</small>
            <hr />


            <div class="form-horizontal">

                <div class="col-md-offset-1 center-block">

                    <div class="form-group center-block">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Postnummer, "{0:#.#}", new { @class = "form-control", @placeholder = "Postnummer..", @type = "number" })
                            @Html.ValidationMessageFor(m => m.Postnummer, "", new { @class = "text-danger error-postnumber" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-success display-spinner" id="btn-postnumber">Sök <span class="fa fa-arrow-circle-o-right "></span></button>
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    ´
</div>
<div class="container-fluid custom" id="second-page" style="display: none !important;">
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 15%;margin-bottom: 10%;">
            <h3 class="text-center" style="color: #1b5b82;">Uppge elförbrukning och önskad avtalstyp</h3>
            <hr />
            <small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel mauris sed elit hendrerit efficitur. Duis et euismod eros. Proin cursus accumsan ante non elementum.</small>
            <hr />


            @using (Html.BeginForm("Prislista", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {


                <div class="col-md-offset-1 center-block">

                    <div class="form-group center-block">
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.Förbrukning, "{0:#.#}", new { @class = "form-control", @placeholder = "Din elförbrukning", @type = "number", @min = "0", @max = "30000"})
                            @Html.ValidationMessageFor(m => m.Förbrukning, "", new { @class = "text-danger val-forbrukning" })
                        </div>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.Typ, Model.TypList, "Välj typ av avtal", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Typ, "", new { @class = "text-danger val-typ" })
                            <input class="ElområdeId-append" name="ElområdeId" type="hidden" value="">
                            <input class="hidden-number" name="Postnummer" type="hidden" value="">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6" id="this-search">
                            <input type="submit" id="search-now" value="Sök nu" class="btn btn-block btn-success" />
                        </div>
                        <div class="col-md-6">
                            <button value="next" class="btn btn-block btn-success display-spinner" id="enhanced-search" style="margin-top: 1%;">Utökad sökning</button>
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            }

        </div>

    </div>
    ´
</div>
<div class="container-fluid custom" id="third-page" style="display: none !important;">
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 15%;margin-bottom: 10%;">
            <h3 class="text-center" style="color: #1b5b82;">Utökad sökning</h3>
            <hr />
            <small> Nam aliquet id erat nec viverra. Morbi sagittis volutpat tellus, vitae consectetur libero laoreet vitae. Vestibulum eget rhoncus nunc. In hac habitasse platea dictumst.</small>
            <hr />

            @using (Html.BeginForm("Lista", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {


                <div class="col-md-offset-1 center-block">

                    <div class="form-group center-block">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.Source, Model.SourceList, "Vill du ha ett miljöavtal?", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.PaymentMethod, Model.PaymentList, "Välj betalningsmetod", new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-12">
                            @Html.DropDownListFor(m => m.Property, Model.PropertyList, "Välj vilken typ av bostad", new { @class = "form-control" })
                            <input class="ElområdeId-append" name="ElområdeId" type="hidden" value="">
                            <input class="hidden-number" name="Postnummer" type="hidden" value="">
                            <input class="Förbrukning-append" name="Förbrukning" type="hidden" value="">
                            <input class="Typ-append" name="Typ" type="hidden" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sök" class="btn btn-success btn-block display-spinner" />
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            }

        </div>

    </div>
    ´
</div>
<div class="modal fade" id="warning-cust" tabindex="-1" role="dialog" aria-labelledby="warning-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="warning-label">Varning</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Vi kan tyvärr inte hitta något elområde tillhörande detta postnummer. Detta kan bero på ett flertal olika anledningar. Prova att använda ett annat postnummer i ditt område.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Jag förstår</button>
            </div>
        </div>
    </div>
</div>
<section style="background-color: #316a87;;">
    <div class="col-lg-12">
        <p class="text-center" style="color: #fff; ">
            Vi jämför Sveriges elbolag för att du ska hitta det bästa elavtalet. Påbörja en jämförelse av elpriser i ditt elnätsområde och byt elavtal snabbt och kostnadsfritt.
        </p>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        formStorage = {
            avtal: "",
            postnr: "",
            betalmetod: "",
            elfbr: "",
            energikälla: "",
            bostadsform: ""
        }
        function saveAsJson() {
            dataToSave = JSON.stringify(formStorage);
            localStorage.setItem("userdata", dataToSave);
        }
        $(".display-spinner").on("click", function () {
            $(".preloader").show();
        });

        var expanded = false;

        $("#search-now").on("click", function () {
        
            
            var förbrukning = $("#F_rbrukning").val();
            var IsValid = true;
            if (förbrukning < 1) {
                IsValid = false;
              
            }

            var avtalstyp = $("#Typ").val();
            if (avtalstyp.length < 1) {
                IsValid = false;
            
            }
            if (IsValid) {
                formStorage.elfbr = $("#F_rbrukning").val();
                formStorage.avtal = $("#Typ").val();
                $(".preloader").show();
                saveAsJson();
               
            }
        });
        $("#enhanced-search").on("click", function (e) {
            e.preventDefault();
            $(".val-forbrukning").empty();
            $(".val-typ").empty();
            var IsValid = true;
            var förbrukning = $("#F_rbrukning").val();

            if (förbrukning < 1) {
                IsValid = false;
                $(".val-forbrukning").append("Din elförbrukning är kwh-timmar per år. Måste vara över 0.");
            }

            var avtalstyp = $("#Typ").val();
            if (avtalstyp.length < 1) {
                IsValid = false;
                $(".val-typ").append("Du måste välja avtalstyp. Vill du ha ett rörligt, fast eller ett mixat avtal?. ");
            }
            if (IsValid) {
                formStorage.elfbr = $("#F_rbrukning").val();
                formStorage.avtal = $("#Typ").val();
                
                saveAsJson();
                $(".Förbrukning-append").val(förbrukning);
                $(".Typ-append").val(avtalstyp);
                $("#second-page").hide();
                $("#third-page").fadeIn(500);
            }
            $(".preloader").hide();
        })

        $(document).ready(function () {
            formText = localStorage.getItem("userdata");
            retrievedData = JSON.parse(formText);
            if (retrievedData.postnr != "") {
                $("#Postnummer").val(retrievedData.postnr);

            } 
            if (retrievedData.elfbr != "") {
                $("#F_rbrukning").val(retrievedData.elfbr);

            } 
            if (retrievedData.avtal != "") {
                $("#Typ").val(retrievedData.avtal);

            } 
            if (retrievedData.betalmetod != "") {
                $("#PaymentMethod").val(retrievedData.betalmetod);

            } 
            if (retrievedData.energikälla != "") {
                $("#Source").val(retrievedData.energikälla);

            } 
            if (retrievedData.bostadsform != "") {
                $("#Property").val(retrievedData.bostadsform);

            } 
        })
        $("#PaymentMethod").on("change", function () {
            formStorage.betalmetod = $("#PaymentMethod").val();
            saveAsJson();

        });
        $("#Source").on("change", function () {
            formStorage.energikälla = $("#Source").val();
            saveAsJson();

        });
        $("#Property").on("change", function () {
            formStorage.bostadsform = $("#Property").val();
            saveAsJson();

        });

        $("#btn-postnumber").on("click", function () {
            $(".preloader").show();
            $(".error-postnumber").empty();
            var postnumber = $("#Postnummer").val();
            var isCorrect = /^\d{3}\d{2}$/.test(postnumber);
            if (isCorrect) {
                formStorage.postnr = postnumber;
                saveAsJson();
                $.ajax({
                    url: "/api/search/area",
                    type: "Get",
                    data: { Postnumber: postnumber },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $(".preloader").hide();
                        $(".ElområdeId-append").val(data);
                        $(".hidden-number").val(postnumber);
                        $("#first-page").hide();
                        $("#second-page").fadeIn(500);
                    },
                    error: function () {
                        $(".preloader").hide();
                        $("#warning-cust").modal('show');
                    }
                })
            } else {
                $(".error-postnumber").append("Ange ett riktigt postnumber");
                $(".preloader").hide();
                return false;
            }
        });


    </script>
}