@model Elmarknad.Models.ViewModels.SearchViewModel
@{
    ViewBag.Title = "Start";
}
<style>
    .custom {
        width: 100% !important;
        height: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0;
        padding: 0;
    }
    .custom-bg {
       background-color: #316a87;
    }
    #extra-index {
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
    .multiselect {
        width: 100%;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
        background-color: #fff;
        
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>

<div class="container-fluid custom" id="first-page"> 
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 30%;margin-bottom: 10%;">
            <h3 class="text-center" style="color: #1b5b82;">Jämför elpriser och byt elavtal</h3>



            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {


            <div class="col-md-offset-1 center-block">

                <div class="form-group center-block">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.Postnummer, "{0:#.#}", new { @class = "form-control", @placeholder = "Postnummer.." })
                        @Html.ValidationMessageFor(m => m.Postnummer, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group center-block">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Förbrukning, Model.FörbrukningList, "Välj din förbrukning", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Förbrukning, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group center-block">
                    <div class="col-md-12">
                        @Html.DropDownListFor(m => m.Typ, Model.TypList, "Välj typ av avtal", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Typ, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group center-block">
                    <div class="col-md-12">
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select class="form-control">
                                    <option>Select an option</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div id="checkboxes">
                                <label for="Test2">
                                    @Html.CheckBoxFor(i => i.Test2) Test
                                </label>
                                <label for="two">
                                    <input type="checkbox" id="two" />Second checkbox
                                </label>
                                <label for="three">
                                    <input type="checkbox" id="three" />Third checkbox
                                </label>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Sök" class="btn btn-block" id="display-spinner" style="background-color: #f07451 !important;" />
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            }

        </div>

    </div>
    ´
</div>
<div class="container-fluid custom" id="second-page" style="display: none !important;">
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 30%;margin-bottom: 10%;">
            <h3 style="color: #1b5b82;">Jämför elpriser och byt elavtal</h3>

            <div class="col-lg-6" style="font-size: 90%; margin-bottom: 2%;">
                Hos elmarknad.se jämför du elpriser från alla elbolag. Fyll i dina uppgifter och byt enkelt till det bästa elavtalet.
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <li style="list-style: none;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Jämför alla elbolag</li>
                    <li style="list-style: none; margin-top: 2%;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Snabbt & enkelt</li>
                    <li style="list-style: none;  margin-top: 2%;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Helt kostnadsfritt</li>
                </ul>
            </div>


            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {


                <div class="col-md-offset-1">

                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Postnummer, "{0:#.#}", new { @class = "form-control", @placeholder = "Postnummer.." })
                            @Html.ValidationMessageFor(m => m.Postnummer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Förbrukning, Model.FörbrukningList, "Välj din förbrukning", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Förbrukning, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Typ, Model.TypList, "Välj typ av avtal", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Typ, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Sök" class="btn btn-block" id="display-spinner" style="background-color: #f07451 !important;" />
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            }

        </div>

    </div>
    ´
</div>
<div class="container-fluid custom" id="third-page" style="display: none !important;">
    <div class="col-md-4 center-block">
        <div class="jumbotron center-block" style="background-color: rgba(255, 255, 255, 0.8); margin-top: 30%;margin-bottom: 10%;">
            <h3 style="color: #1b5b82;">Jämför elpriser och byt elavtal</h3>

            <div class="col-lg-6" style="font-size: 90%; margin-bottom: 2%;">
                Hos elmarknad.se jämför du elpriser från alla elbolag. Fyll i dina uppgifter och byt enkelt till det bästa elavtalet.
            </div>
            <div class="col-lg-6">
                <ul class="list-group">
                    <li style="list-style: none;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Jämför alla elbolag</li>
                    <li style="list-style: none; margin-top: 2%;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Snabbt & enkelt</li>
                    <li style="list-style: none;  margin-top: 2%;"><span><i class="glyphicon glyphicon-chevron-down" style="color: #f07451 !important;"></i></span>Helt kostnadsfritt</li>
                </ul>
            </div>


            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
            {


                <div class="col-md-offset-1">

                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Postnummer, "{0:#.#}", new { @class = "form-control", @placeholder = "Postnummer.." })
                            @Html.ValidationMessageFor(m => m.Postnummer, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Förbrukning, Model.FörbrukningList, "Välj din förbrukning", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Förbrukning, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group center-block">
                        <div class="col-md-10">
                            @Html.DropDownListFor(m => m.Typ, Model.TypList, "Välj typ av avtal", new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Typ, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Sök" class="btn btn-block" id="display-spinner" style="background-color: #f07451 !important;" />
                        </div>
                    </div>
                    <div class="preloader" style="display: none;">
                        <div class="spinner"></div>
                        <div class="spinner-2"></div>
                    </div>
                </div>
            }

        </div>

    </div>
    ´
</div>
<section style="background-color: #316a87;;">
    <div class="col-lg-12">
        <p class="text-center" style="color: #fff; ">
            Vi jämför Sveriges elbolag för att du ska hitta det bästa elavtalet. Påbörja en jämförelse av elpriser i ditt elnätsområde och byt elavtal snabbt och kostnadsfritt.
        </p>
    </div>
</section>

@section Scripts {
<script>
    $("#display-spinner").on("click", function () {
        $(".preloader").show();
    });

    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    </script>    
}