@model Elmarknad.Models.ViewModels.ListSearchResultViewModel

@{
    ViewBag.Title = "Lägsta priset i ditt område";
    int antalAvtal = Model.Clients.Count + Model.Scraped.Count;
}
<div class="col-lg-12 center-block" style="background-color: #f7f7f7 !important; margin-top: 1%; margin-bottom: 1%;">
    <h2 class="text-center" style="color: #1b5b82;">Visar alla elavtal med postnummer @Model.Postnummer</h2>
    <div class="col-lg-offset-2 col-md-10">
        <div class="col-md-4" style="margin: 2%;">
            <input type="text" id="search-comp" class="form-control" placeholder="Sök efter Elbolag...." />
        </div>
        <div class="col-md-4" style="margin: 2%;">
            @Html.DropDownListFor(m => m.Typ, Model.TypList, new { @class = "form-control state-changed" })
        </div>
        <div class="col-md-4" style="margin: 2%;">
            @Html.DropDownListFor(m => m.Förbrukning, Model.FörbrukningList, new { @class = "form-control state-consumption" })
        </div>
        <div class="col-md-4" style="margin: 2%;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" id="price">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked> Pris
                </label>
                <label class="btn btn-secondary" id="rating">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Betyg
                </label>
            </div>
        </div>
    </div>


</div>

<div class="col-lg-12">

    <table class="table table-striped search-table">
        <thead style="background-color: #1b5b82;">
            <tr>
                <th scope="col" style="color: #fff;">Elbolag</th>
                <th scope="col" style="color: #fff;">Vilkor</th>
                <th scope="col" style="color: #fff;">Om Avtalet</th>
                <th scope="col" style="color: #fff;">Pris</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Clients)
            {
                <tr class="to-hide-client search-tool">
                    <td>
                        <ul style="list-style: none">
                            <li><img src="../@item.Image" class="img-responsive" style="width: 40%;" /></li>
                            <li class="comp-name">@item.Company</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Avtalstyp: @Model.Typ</li>
                            <li>Avtalstid: 12 månader</li>
                            <li>Uppsägningstid: @item.Uppsägningstid</li>
                            <li>Kundbetyg: @item.Rating</li>
                        </ul>
                    </td>
                    <td>
                        @item.Contract
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @Html.ActionLink("Teckna avtal", "TecknaKampanjAvtal", new { id = item.SearchId }, new { @class = "btn btn-primary", @style = "background-color: #f07451 !important;" })
                    </td>
                </tr>
            }
            @foreach (var item in Model.Scraped)
            {
                <tr class="to-hide-scrape search-tool">
                    <td class="comp-name">
                        @item.Company
                    </td>
                    <td>
                        <ul>
                            <li>Avtalstyp: @Model.Typ</li>
                            <li>Avtalstid: 12 månader</li>
                            <li>Uppsägningstid: @item.Uppsägningstid</li>
                            <li>Kundbetyg: @item.Rating</li>
                        </ul>
                    </td>
                    <td>
                        @item.Contract
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        @Html.ActionLink("Teckna avtal", "TecknaAvtal", new { id = item.SearchId }, new { @class = "btn btn-primary", @style = "background-color: #f07451 !important;" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="col-lg-12">
    <div class="center-block"><button class="btn btn-success center-block" id="show-all" style="margin-bottom: 10%;">Visa Mer <br /> @antalAvtal Avtal </button></div>
</div>
@section Scripts {
<script>
        $(".state-changed").change(function () {
            var value = $(".state-changed").val();
            window.location.href = "/Home/Search?Postnummer=" + @Model.Postnummer + "&Förbrukning=" + @Model.Förbrukning +"&Typ=" + value;
        });

        $(".state-consumption").change(function () {
            var value = $(".state-consumption").val();
            window.location.href = "/Home/Search?Postnummer=" + @Model.Postnummer + "&Förbrukning=" + value +"&Typ=" + "@Html.Raw(@Model.Typ)";
        });

        $(document).ready(function () {
            $(".to-hide-client:gt(2)").css("display", "none");
            $(".to-hide-scrape:gt(2)").css("display", "none");
        });

    $("#search-comp").on("keyup", function () {
        $(".to-hide-client:gt(2)").show();
        $(".to-hide-scrape:gt(2)").show();;
        $("#show-all").hide();
            var value = $("#search-comp").val();
            if (value.length == 0) {
                $(".search-tool").show();
            } else {

                $(".search-tool").each(function () {
                    var element = $(this);
                    var company = $(this).find(".comp-name").text().toLowerCase().trim();
                    //alert(company + value)
                if (!company.startsWith(value)) {
                    element.hide()
                }

                });
            }
    });
    

    $("#show-all").on("click", function () {
        $(".to-hide-client:gt(2)").show();
        $(".to-hide-scrape:gt(2)").show();;
        $("#show-all").hide();
        });

        $("#price").on("click", function () {
            var typ = "@Html.Raw(@Model.Typ)";
            $("#show-all").hide();
            $("#search-comp").val("");
            $.ajax({
                url: "/api/search/price",
                type: "Post",
                data: JSON.stringify([@Model.Förbrukning, typ, @Model.ElId]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".to-hide-client").remove();
                    $(".to-hide-scrape").remove();
                    for (var i = 0; i < data.Clients.length; i++) {
                        $(".search-table").append("<tr class='to-hide-client search-tool'><td><ul style='list-style: none'>" +
                            "<li><img src=" + "'../" + data.Clients[i].Image + "'" + "class='img-responsive' style='width: 15%;' /></li>" +
                            "<li class='comp-name'>" + data.Clients[i].Company + "</li > </ul></td >" +
                            "<td><ul><li>Avtalstyp: " + data.Typ + "</li >" +
                            "<li>Avtalstid: 12 månader</li>" +
                            "<li>Uppsägningstid: " + data.Clients[i].Uppsägningstid + "</li>" +
                            "<li>Kundbetyg: " + data.Clients[i].Rating + "</li >" +
                            "</ul></td><td>" + data.Clients[i].Contract + "</td >" +
                            "<td>" + data.Clients[i].Price + "</td ><td>" +
                            "<a class='btn btn-primary' href='/Home/tecknakampanjavtal/" + data.Clients[i].SearchId + "'" + "  style='background-color: #f07451 !important;'>Teckna avtal</a></td></tr>");
                    }

                    for (var i = 0; i < data.Scraped.length; i++) {
                        $(".search-table").append("<tr class='to-hide-client search-tool'><td  class='comp-name'>" + data.Scraped[i].Company + "</td >" +
                            "<td><ul><li>Avtalstyp: " + data.Typ + "</li >" +
                            "<li>Avtalstid: 12 månader</li>" +
                            "<li>Uppsägningstid: " + data.Scraped[i].Uppsägningstid + "</li>" +
                            "<li>Kundbetyg: " + data.Scraped[i].Rating + "</li >" +
                            "</ul></td><td>" + data.Scraped[i].Contract + "</td >" +
                            "<td>" + data.Scraped[i].Price + "</td ><td>" +
                            "<a class='btn btn-primary' href='/Home/tecknaavtal/" + data.Scraped[i].SearchId + "'" + "  style='background-color: #f07451 !important;'>Teckna avtal</a></td></tr>");
                    }

                },
                error: function () {

                }
            })
        });

        $("#rating").on("click", function () {
            var typ = "@Html.Raw(@Model.Typ)";
            $("#search-comp").val("");
            $.ajax({
                url: "/api/search/rating",
                type: "Post",
                data: JSON.stringify([@Model.Förbrukning, typ, @Model.ElId]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#show-all").hide();
                    $(".to-hide-client").remove();
                    $(".to-hide-scrape").remove();
                    for (var i = 0; i < data.Clients.length; i++) {
                        $(".search-table").append("<tr class='to-hide-client search-tool'><td><ul style='list-style: none'>" +
                            "<li><img src=" + "'../" + data.Clients[i].Image + "'" + "class='img-responsive' style='width: 15%;' /></li>" +
                            "<li class='comp-name'>" + data.Clients[i].Company + "</li > </ul></td >" +
                            "<td><ul><li>Avtalstyp: " + data.Typ + "</li >" +
                            "<li>Avtalstid: 12 månader</li>" +
                            "<li>Uppsägningstid: " + data.Clients[i].Uppsägningstid + "</li>" +
                            "<li>Kundbetyg: " + data.Clients[i].Rating + "</li >" +
                            "</ul></td><td>" + data.Clients[i].Contract + "</td >" +
                            "<td>" + data.Clients[i].Price + "</td ><td>" +
                            "<a class='btn btn-primary' href='/Home/tecknakampanjavtal/" + data.Clients[i].SearchId + "'" + "  style='background-color: #f07451 !important;'>Teckna avtal</a></td></tr>");
                    }

                    for (var i = 0; i < data.Scraped.length; i++) {
                        $(".search-table").append("<tr class='to-hide-client search-tool'><td class='comp-name'>" + data.Scraped[i].Company + "</td >" +
                            "<td><ul><li>Avtalstyp: " + data.Typ + "</li >" +
                            "<li>Avtalstid: 12 månader</li>" +
                            "<li>Uppsägningstid: " + data.Scraped[i].Uppsägningstid + "</li>" +
                            "<li>Kundbetyg: " + data.Scraped[i].Rating + "</li >" +
                            "</ul></td><td>" + data.Scraped[i].Contract + "</td >" +
                            "<td>" + data.Scraped[i].Price + "</td ><td>" +
                            "<a class='btn btn-primary' href='/Home/tecknaavtal/" + data.Scraped[i].SearchId + "'" + "  style='background-color: #f07451 !important;'>Teckna avtal</a></td></tr>");
                    }

                },
                error: function () {

                }
            })
        });
</script>
}
