@model Elmarknad.Models.ViewModels.ListSearchResultViewModel
@using System.Globalization;
@{
    ViewBag.Title = "Lägsta priset i ditt område";
    int antalAvtal = Model.Agreements.Count;
    string specifier = "F";
    CultureInfo culture = CultureInfo.CreateSpecificCulture("sv-SE");
}

<div class="col-lg-12">
    <hr>
    <h2 style="color:#1b5b82; ">Nedan finns alla elavtal i ditt område</h2>
    <hr>
    <!-- Preview Image -->

    <hr>
    <!-- Post Content -->
    <p class="lead">Använd vår filterfunktion för att söka fram de elavtal som passar din situation bäst. </p>
    <p> När du bestämt vilket avtal som passar dig bäst behöver vi endast dina person- och anläggningsuppgifter så genomför vi bytet åt dig.</p>
 
</div>

<div class="col-lg-12" style="margin-top: 1%;">
    
        <button class="btn-sm btn-success" id="show-filter">Filtrera din sökning</button>
   
</div>
<div class="col-lg-12 center-block" style="background-color: #f7f7f7 !important; display: none;margin-top: 1%; margin-bottom: 1%;" id="filter-deals">

   
    <div class="col-lg-offset-2 col-md-10">
        <div class="col-md-4" style="margin: 2%;">
            <input type="text" id="search-comp" class="form-control" placeholder="Sök efter Elbolag...." />
        </div>
        <div class="col-md-4" style="margin: 2%;">
            @Html.DropDownListFor(m => m.Typ, Model.TypList, new { @class = "form-control state-changed" })
        </div>
        <div class="col-md-4" style="margin: 2%;">
            @Html.DropDownListFor(m => m.Förbrukning, Model.FörbrukningList, new { @class = "form-control state-consumption" })
        </div>
        <div class="col-md-4" style="margin: 2%;">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active" id="price">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Pris
                </label>
                <label class="btn btn-secondary" id="rating">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Betyg
                </label>
            </div>
        </div>
    </div>


</div>

<div class="col-lg-12 custom-filter">
    <div class="preloader" style="display: none;">
        <div class="spinner"></div>
        <div class="spinner-2"></div>
    </div>
    <hr />
    @foreach (var item in Model.Agreements)
    {

        if (item.IsInvicible)
        {
            <div class="row to-hide center-block search-tool" style="display: none !important; border-bottom: 1px solid #e8e6e4; margin-bottom: 1%; margin-top: 1%;">
                <div class="col-md-2 col-xs-6">
                    <h3></h3>
                    @if (item.Image != null)
                    {
                        <img class="img-responsive img-thumbnail" src="~/@item.Image" alt="" style="margin-bottom: 1%; max-width: 150px !important;">

                    }
                    else
                    {
                        <img class="img-responsive img-thumbnail" src="~/Images/searchDefault.jpg" alt="" style="margin-bottom: 1%; max-width: 150px !important;">

                    }
                </div>

                <div class="col-md-3 col-xs-6">
                    <h3 class="comp-name">@item.Company</h3>
                    <small>@item.Contract</small>
                    <ul class="list-group">
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Avtalstyp: @Model.Typ</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Avtalstid: 12 månader</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>@item.ExtraInfo</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Automatiskförlängning: @item.AutomatiskFörlängning</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Uppsägningstid: @item.Uppsägningstid</li>
                        @if (item.Rating != 0)
                        {
                            <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Kundbetyg: @item.Rating</li>
                        }
                    </ul>

                </div>
                <div class="col-md-3">
                    <h3></h3>

                    @if (item.Bio)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från biologiskt avfall"><img src="~/Images/bio.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Sol)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från solceller"><img src="~/Images/sol.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Miljömärkt)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Ett bra miljöval"><img src="~/Images/miljöval.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Vatten)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från vattenkraft"><img src="~/Images/vatten.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Vind)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från vindkraft"><img src="~/Images/vind.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                </div>
                <div class="col-md-3">
                    <h3 class=""><span class="badge badge-secondary" style="padding: 2%; font-size: 70%;background-color: #1b5b82;">@item.Price.ToString(specifier, culture) öre/kwh</span></h3><br />

                    <br />

                    @if (item.IsClient)
                    {
                        @Html.ActionLink("Teckna avtal", "TecknaKampanjAvtal", new { id = item.Id }, new { @class = "btn btn-block btn-primary", @style = "background-color: #f07451 !important; border: none  !important; margin-bottom: 1%; margin-top: 1%;" })

                    }
                    else
                    {
                        @Html.ActionLink("Teckna avtal", "TecknaAvtal", new { id = item.Id }, new { @class = "btn  btn-block btn-primary", @style = "background-color: #f07451 !important;  border: none  !important; margin-bottom: 1%; margin-top: 1%;" })

                    }
                </div>

            </div>
        }
        else
        {
            <div class="row to-hide center-block search-tool" style="border-bottom: 1px solid #e8e6e4; margin-bottom: 1%; margin-top: 1%;">
                <div class="col-md-2 col-xs-6">
                    <h3></h3>
                    @if (item.Image != null)
                    {
                        <img class="img-responsive img-thumbnail" src="~/@item.Image" alt="" style="margin-bottom: 1%; max-width: 150px !important;">

                    }
                    else
                    {
                        <img class="img-responsive img-thumbnail" src="~/Images/searchDefault.jpg" alt="" style="margin-bottom: 1%; max-width: 150px !important;">

                    }
                </div>

                <div class="col-md-3 col-xs-6">
                    <h3 class="comp-name">@item.Company</h3>
                    <small>@item.Contract</small>
                    <ul class="list-group">
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Avtalstyp: @Model.Typ</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Avtalstid: 12 månader</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>@item.ExtraInfo</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Automatiskförlängning: @item.AutomatiskFörlängning</li>
                        <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Uppsägningstid: @item.Uppsägningstid</li>
                        @if (item.Rating != 0)
                        {
                            <li style="list-style: none;"><span style="margin-right: 1%;"><i class="glyphicon glyphicon-plus-sign" style="color: #f07451;"></i></span>Kundbetyg: @item.Rating</li>
                        }
                    </ul>

                </div>
                <div class="col-md-3">
                    <h3></h3>

                    @if (item.Bio)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från biologiskt avfall"><img src="~/Images/bio.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Sol)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från solceller"><img src="~/Images/sol.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Miljömärkt)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Ett bra miljöval"><img src="~/Images/miljöval.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Vatten)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från vattenkraft"><img src="~/Images/vatten.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                    @if (item.Vind)
                    {
                        <span data-toggle="tooltip" data-placement="top" title="Energi från vindkraft"><img src="~/Images/vind.png" class="img-responsive img-thumbnail" style="width: 20%;" /></span>
                    }
                </div>
                <div class="col-md-3">
                    <h3 class=""><span class="badge badge-secondary" style="padding: 2%; font-size: 70%;background-color: #1b5b82;">@item.Price.ToString(specifier, culture) öre/kwh</span></h3><br />

                    <br />

                    @if (item.IsClient)
                    {
                        @Html.ActionLink("Teckna avtal", "TecknaKampanjAvtal", new { id = item.Id }, new { @class = "btn btn-block btn-primary", @style = "background-color: #f07451 !important; border: none  !important; margin-bottom: 1%; margin-top: 1%;" })

                    }
                    else
                    {
                        @Html.ActionLink("Teckna avtal", "TecknaAvtal", new { id = item.Id }, new { @class = "btn  btn-block btn-primary", @style = "background-color: #f07451 !important;  border: none  !important; margin-bottom: 1%; margin-top: 1%;" })

                    }
                </div>

            </div>
        }


    }



</div>
            <div class="col-lg-12">
                <div class="center-block"><button class="btn btn-success center-block" id="show-all" style="margin-bottom: 10%;">Visa Mer <br /> @antalAvtal Avtal </button></div>
            </div>
            @section Scripts {
                <script>
        $("#show-filter").on("click", function () {
            $("#filter-deals").slideToggle(200);
        })

        $(".state-changed").change(function () {
            var value = $(".state-changed").val();
            window.location.href = "/Home/Search?Postnummer=" + @Model.Postnummer + "&Förbrukning=" + @Model.Förbrukning +"&Typ=" + value;
        });

        $(".state-consumption").change(function () {
            var value = $(".state-consumption").val();
            window.location.href = "/Home/Search?Postnummer=" + @Model.Postnummer + "&Förbrukning=" + value +"&Typ=" + "@Html.Raw(@Model.Typ)";
        });

        $(document).ready(function () {
            $(".to-hide:gt(5)").css("display", "none");

        });

    $("#search-comp").on("keyup", function () {
        $(".to-hide:gt(5)").show();

        $("#show-all").hide();
        var value = $("#search-comp").val().toLowerCase();
            if (value.length == 0) {
                $(".search-tool").show();
            } else {

                $(".search-tool").each(function () {
                    var element = $(this);
                    var company = $(this).find(".comp-name").text().toLowerCase().trim();
                    //alert(company + value)
                if (!company.startsWith(value)) {
                    element.hide()
                }

                });
            }
    });
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })

    $("#show-all").on("click", function () {
        $(".to-hide:gt(5)").show();

        $("#show-all").hide();
        });

    $("#price").on("click", function () {
        $(".preloader").show();
        $(".to-hide").remove();
        $("#show-all").hide();
            var typ = "@Html.Raw(@Model.Typ)";
            $("#show-all").hide();
            $("#search-comp").val("");
            $.ajax({
                url: "/api/search/price",
                type: "Post",
                data: JSON.stringify([@Model.Förbrukning, typ, @Model.ElId]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#show-all").hide();
                    $(".to-hide").remove();
                    $(".preloader").hide();

                    for (var i = 0; i < data.Agreements.length; i++) {
                        var image = "<img>"
                        if (data.Agreements[i].Image != null) {
                            image = "<img class='img-responsive' src='../" + data.Agreements[i].Image + "' alt=''>";
                        } else {
                            image = "<img class='img-responsive' src='../Images/searchDefault.jpg' alt='' style='margin-bottom: 1%;'>";
                        }
                        var rating = "<li></li>";
                        if (data.Agreements[i].Rating != 0) {
                            rating = "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Kundbetyg: " + data.Agreements[i].Rating + "</li>";
                        } else {
                            rating = "<li></li>";
                        }

                        var route = "<a></a>";
                        if (data.Agreements[i].IsClient == true) {
                            route = "<a class='btn btn-primary' href = '/Home/tecknakampanjavtal/" + data.Agreements[i].Id + "'" + "style ='background-color: #f07451 !important;margin-bottom: 1%;' >" + "Teckna avtal" + "</a>";

                        } else {
                            route = "<a class='btn btn-primary' href = '/Home/tecknaavtal/" + data.Agreements[i].Id + "'" + "  style ='background-color: #f07451 !important; margin-bottom: 1%;'> Teckna avtal</a>";

                        }

                        $(".custom-filter").append("<div class='row to-hide search-tool' style='border-bottom: 1px solid #e8e6e4; margin-bottom: 1%; margin-top: 1%;'>" +
                            "<div class='col-md-2'>" + image + "</div>" +
                            "<div class='col-md-5'>" +
                            "<h3 class='comp-name'>" + data.Agreements[i].Company + "</h3><small>" + data.Agreements[i].Contract + "</small >" +
                            "<ul class='list-group' style='font-size: 120 %;'>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>Avtalstyp: " + data.Typ + "</li>" +
                            "<li style='list-style: none;'><span  style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>Avtalstid: 12 månader</li>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>" + data.Agreements[i].ExtraInfo + "</li>" +
                            "</ul></div>" +
                            "<div class='col-md-5'>" +
                            "<h2 style='font-size: 150%;'> <b>" + data.Agreements[i].Price + " kwh</b></h2>" +
                            "<ul class='list-group' style='font-size: 100%;'>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Uppsägningstid: " + data.Agreements[i].Uppsägningstid + "</li>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Omteckningsrätt: " + data.Agreements[i].Omteckningsrätt + "</li>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Uppsägningstid: " + data.Agreements[i].Uppsägningstid + "</li>" +
                            rating + "</ul>" + route + "</div></div>");

                    }
                },
                error: function () {

                }
            })
        });

    $("#rating").on("click", function () {
        $(".preloader").show();
            $(".to-hide").remove();
            $("#show-all").hide();
            var typ = "@Html.Raw(@Model.Typ)";
            $("#search-comp").val("");
            $.ajax({
                url: "/api/search/rating",
                type: "Post",
                data: JSON.stringify([@Model.Förbrukning, typ, @Model.ElId]),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#show-all").hide();
                    $(".to-hide").remove();
                    $(".preloader").hide();

                    for (var i = 0; i < data.Agreements.length; i++) {
                        var image = "<img>"
                        if (data.Agreements[i].Image != null) {
                            image = "<img class='img-responsive' src='../" + data.Agreements[i].Image + "' alt=''>";
                        } else {
                            image = "<img class='img-responsive' src='../Images/searchDefault.jpg' alt='' style='margin-bottom: 1%;'>";
                        }
                        var rating = "<li></li>";
                        if (data.Agreements[i].Rating != 0) {
                            rating = "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Kundbetyg: " + data.Agreements[i].Rating + "</li>";
                        } else {
                            rating = "<li></li>";
                        }

                        var route = "<a></a>";
                        if (data.Agreements[i].IsClient == true) {
                            route = "<a class='btn btn-primary' href = '/Home/tecknakampanjavtal/" + data.Agreements[i].Id + "'" + "style ='background-color: #f07451 !important;margin-bottom: 1%;' >" +  "Teckna avtal" + "</a>";

                        } else {
                            route = "<a class='btn btn-primary' href = '/Home/tecknaavtal/" + data.Agreements[i].Id + "'" + "  style ='background-color: #f07451 !important; margin-bottom: 1%;'> Teckna avtal</a>";

                        }

                        $(".custom-filter").append("<div class='row to-hide search-tool' style='border-bottom: 1px solid #e8e6e4; margin-bottom: 1%; margin-top: 1%;'>" +
                        "<div class='col-md-2'>" + image + "</div>" +
                        "<div class='col-md-5'>" +
                            "<h3 class='comp-name'>" + data.Agreements[i].Company + "</h3><small>" + data.Agreements[i].Contract + "</small >" +
                        "<ul class='list-group' style='font-size: 120 %;'>" +
                        "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>Avtalstyp: " + data.Typ + "</li>" +
                            "<li style='list-style: none;'><span  style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>Avtalstid: 12 månader</li>" +
                            "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-plus-sign'></i></span>" + data.Agreements[i].ExtraInfo + "</li>" +
                        "</ul></div>" +
                        "<div class='col-md-5'>" +
                        "<h2 style='font-size: 150%;'> <b>" + data.Agreements[i].Price + " kwh</b></h2>" +
                        "<ul class='list-group' style='font-size: 100%;'>" +
                        "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Uppsägningstid: " + data.Agreements[i].Uppsägningstid + "</li>" +
                        "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Omteckningsrätt: " + data.Agreements[i].Omteckningsrätt + "</li>" +
                        "<li style='list-style: none;'><span style='margin-right: 1%;'><i class='glyphicon glyphicon-hand-right'></i></span>Uppsägningstid: " + data.Agreements[i].Uppsägningstid + "</li>" +
                         rating + "</ul>" + route + "</div></div>");

                        }


                },
                error: function () {

                }
            })
        });
                </script>
            }
